# -----------------------------------------------------------------------------
#- EDU-CIAA-FPGA constraint file (.pcf)
#  Author : Juan Gonzalez Gomez (Obijuan)
#- Sep - 2020
#- GPL license
#- Repo: https://gitlab.com/educiaafpga
#- Pinout: https://github.com/ciaa/Hardware/blob/master/PCB/EDU-FPGA/Pinout/Pinout%20EDU%20FPGA.pdf



#------ User LEDs
set_io --warn-no-port LED3 4  #-- output
set_io --warn-no-port LED2 3  #-- output
set_io --warn-no-port LED1 2  #-- output
set_io --warn-no-port LED0 1  #-- output
